<component name="ArtifactManager">
  <artifact type="war" name="SpringBootWebDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringBootWebDemo.war">
      <element id="artifact" artifact-name="SpringBootWebDemo:war exploded" />
    </root>
  </artifact>
</component>